# Personal Contact & Social Links
CONTACT_EMAIL=seyedehfatemehhosseininasab2@gmail.com
CONTACT_TELEGRAM=@Fateme_Hosseini1294
LINKEDIN_URL=https://www.linkedin.com/in/seyedeh-fatemeh-hosseininasab-7320bb322/
GITHUB_URL=https://github.com/fatemeh231

# Your Full Name (for watermark)
COMPANY_NAME=SEYEDEH FATEMEH HOSSEININASAB